@import "tailwindcss";

@theme {
  /* Nuestro Azul Principal (Primary) */
  --color-primary-50: #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
  --color-primary-700: #1d4ed8;
  --color-primary-800: #1e40af;
  --color-primary-900: #1e3a8a;

  /* Nuestro Naranja de Acento (Accent) */
  --color-accent-500: #f97316;
  --color-accent-600: #ea580c;
}

/* Configuraciones base opcionales */
body {
  background-color: #f8fafc; /* Fondo gris muy clarito por defecto */
  color: #0f172a;
}